{% extends "base.html" %}

{% block content %}
{% load crispy_forms_tags %}
<div class="container">
    <div class=" text-center mt-3 ">
        <h1>Add your Review</h1>
    </div>
    <div class="row ">
        <div class="col-lg-7 mx-auto">
            <div class="card mt-2 mx-auto p-4 bg-light">
                <div class="card-body bg-light">
                    <div class="container">
                            <div class="controls">
                                <form enctype="multipart/form-data" method="post" novalidate>
                                    {% csrf_token %}
                                    {{ form|crispy }}
                                    <br>
                                    <input class="btn btn-primary" type="submit" value="Upload">
                                </form>
                                <div class="col-md-12">
                                </div>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}